@import url("https://fonts.googleapis.com/css?family=Cabin");

.storybook-button {
  font-family: "Cabin";
  font-weight: 400;
  color: white;
  font-size: 1rem;
  height: 48px;
  width: 200px;
  padding: 0.75rem 1rem;

  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  background-color: #695cd4;
}
.storybook-button--secondary {
  background-color: #12115c;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
